[2018-01-11 23:30] rajesh-nayak-cms opened #557 "License question..(not an issue)"
Question about the license of this tool. The CC0 is no longer presented as an option on GitHub.com while creating repositories. I guess that the list of available option is pulled from https://choosealicense.com/licenses/ which also has its own gist.

How can this repository be forked when the supporting CC0 license is no longer available on GitHub.com?

[2018-01-12 02:54] halprin commented on #557
Hey there @rajesh-nayak-cms.

Regardless of what GitHub supports through https://choosealicense.com, the license of this code remains the Creative Commons Zero v1.0 Universal (CC0).  GitHub also states that they allow forking a repository regardless of the license.  Basically, it is up to you, not GitHub, to obey or disobey a license.

But, in any case, GitHub still supports CC0.  You still see it

[2018-01-14 15:02] #557 closed

[2018-02-21 17:05] nathandonato opened #625 "CPC+: DateTimeParseException in the latest version but success in an earlier version"
### Information
- OS & version:
-- macOS Sierra
-- Whatever the production QPP utility's OS is
- Java version:
[code]
- Docker version:

[code]

### Expected behavior
A successful conversion. See attached JSON:
[success.json.txt](https://github.com/CMSgov/qpp-conversion-tool/files/1744856/success.json.txt)

### Actual behavior
This results in a `DateTimeParseException`. See attached log:
[error.lo

[2018-02-21 17:32] aaroalan commented on #625
Looks like the issue is a missing env var `CPC_END_DATE`, `CpcClinicalDocumentValidator.java` has this line `LocalDate.parse(EnvironmentHelper.getOrDefault(END_DATE_VARIABLE, NEVER_ENDING))` but looks like it's returning an empty string instead null so it tries to parse `''` and not `NEVER_ENDING` value.

You can fix it **locally** if you se the env var in the `docker-compose.test.yaml`
[code]

[2018-02-21 17:38] aaroalan commented on #625
Update: Don't need to update the docker-compose file `.env` file has `CPC_END_DATE=` so that's why var is `''`

[2018-02-21 17:48] sfradkin commented on #625
We'll double check the documentation to ensure that this is called out in the docs as an env var to modify.  We can also just provide a default value in the `.env` file.

[2018-02-21 17:50] aaroalan commented on #625
Maybe the `EnvironmentHelper` should validate that value is not null and is not a empty string, What do you think?

[2018-02-21 17:55] halprin commented on #625
Nice catch!  And yeah, I think that changing `EnvironmentHelper` to also return the default on an empty string is appropriate, @aaroalan.

[2018-02-21 19:25] sfradkin commented on #625
@aaroalan @nathandonato: We have added this issue to our backlog and it will be prioritized today.  We will let you know via this issue when changes have been made.

[2018-02-21 19:43] nathandonato commented on #625
Thanks @sfradkin! I'm sure you're aware and will factor this into the priority, but it's probably worth overstating: CPC+ submissions are due in one week (2018-02-28).

[2018-02-21 20:43] sfradkin commented on #625
@nathandonato Yes we are aware of this.  However, since there is a stated solution in this thread as to how to set the environment variable, and there is a publicly available sandbox at https://qpp.cms.gov/developers/conversion-tool-sandbox that uses our production code, that lowers the priority of this a bit.

[2018-02-21 21:33] nathandonato commented on #625
That makes sense, thanks for the follow up.  But we are getting this error when doing QRDA III XML submissions _(we assume this is the error; the response is error code 3, and this is the actual exception we get locally for the same file)_.

So we can use the environment variable solution in our testing, but is there any chance you guys will set the environment variable in production?

[2018-02-21 22:06] sfradkin commented on #625
Ah, sorry.  I missed the part that you tried this as a real submission and got the same error.  I can confirm that I am seeing that error with your file.  We'll take a look at this to see what's going on as it's unrelated to the CPC_END_DATE.

[2018-02-21 22:09] nathandonato commented on #625
Sorry, that's my fault. I should have been more clear. Thanks for looking into it.

[2018-02-21 22:26] sfradkin commented on #625
@nathandonato Looking at this further it appears that you have a missing code in one of your supplemental data elements.  We are already working on a fix for this situation so that it correctly outputs an error with the xpath rather than returning an "unexpected error".  It's tough to eyeball the QRDA document to find the missing code, but that's where you can look.

We're going to work on getting

[2018-02-22 15:06] nathandonato commented on #625
@sfradkin We believe we found the issue. Thanks for pointing us in the right direction!

[2018-02-23 15:33] sfradkin commented on #625
@nathandonato We have deployed a new version of the converter to production.  Please try it out and see if that gets your file converted and submitted.

[2018-03-06 19:55] sfradkin commented on #625
With no response for over a week, I'm going to go ahead and close this issue as fixed.

[2018-03-06 19:55] #625 closed

[2018-03-14 21:50] chacliff opened #651 "Segment error output with no line number indicated when segment is present"
### Information
- OS & version:
Windows 10
- Java version: *(Run `$ java -version`.)*
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
- Docker version if using: *(Run `$ docker -v`.)* N/A

### Expected behavior
Submitted document via the command line arguement. "convert.bat <fileName>.
Expecting each of the measure entries to not produce any errors. Basically Recieved this errors from a phys

[2018-03-14 21:55] sfradkin commented on #651
@chacliff: Thanks for bringing this to our attention.  We'll take a look at this and we will let you know if a full file will be helpful.

[2018-03-14 22:14] chacliff commented on #651
awesome thanks, i look forward to hearing back, i'm stumped as to the reason this is failing.

[2018-03-15 21:21] halprin commented on #651
Hey there @chacliff.  I spliced the quality section you provided above into a valid QRDA3 file, but I cannot reproduce your error.  I got other errors, but I presume that was due to the fact that you decided not to share the other denominator, numerator, and denom exclusion parts.  I even tried earlier versions of our converter and still couldn't produce an error 52.  This is indeed puzzling.  Wou

[2018-03-20 15:46] chacliff commented on #651
Hi,
After literally copy pasting using one of your  sample files i was able to rule down the problem to the inner entry relationships. Basically the "stratum" entry relationship were missing templateIds. Also all the entry relationships have 2 templateId and only one was being generated.

In an attempt to help this product improve, i believe it would be better if you guys could change your error m

[2018-03-20 17:08] sfradkin commented on #651
@chacliff: Thanks for the feedback.  We're actually in the process of re-evaluating all of our validations and error messages right now, so we'll incorporate your feedback into that process.

I'm going to go ahead and close this issue by the end of today unless you feel that there's reason to keep it open longer.

[2018-03-20 17:35] chacliff commented on #651
yeah i'm good so you can close it whenever you are ready. i'll re-open it if it a customer gets back to me and its not fixed for some reason.

[2018-03-20 20:21] #651 closed

[2018-06-07 06:18] namratasingh20990 opened #742 "QPP conversion tool configure locally"
#Configuration of this tool issue:
Cannot create a WAR file of this project. So how to configure this and deploy in apache tomcat to use the API locally?
How to use with Docker?

### Information
- OS & version:
- Java version: *(Run `$ java -version`.)*
- Docker version if using: *(Run `$ docker -v`.)*

### Expected behavior
*(Please be more descriptive than "This file should have created valid QP

[2018-06-08 16:56] omnivion commented on #742
The easiest way to deploy this locally would be with docker, or by first building the whole project with "mvn clean install", then running "mvn spring-boot:run" from within the rest-api directory

[2018-06-20 15:20] #742 closed

[2018-06-20 15:46] omnivion opened #747 "2018 refactoring proposal"
See QPPCT-889

# Change converter endpoint response
Instead of just returning the qpp json, return the following object:
`
{
    "qpp": {
        // the qpp json in object form
    },
    "warnings": [
        {
            "code": 10,
            "message": "Blah blah something in your submission was odd but we did our best blah blah",
            "references": [
                "(link to the IG

[2018-06-22 16:14] saquino0827 commented on #747
Converter Endpoint Response:
I like the idea of returning an object containing everything we need. There will be work involving other teams for the UI as well as changes to our own endpoints when we submit validation to the submission validation api. I do not know a use case for `references` off the top of my head.

Create StandardErrorCodes and StandardWarnings enums:
This looks good.

Refactor d

[2018-06-22 16:32] omnivion commented on #747
@saquino0827 references is so we don't have to link to the IG in the error message. It can also be used by the UI to separate reference links from the message, kind of like how it works on wikipedia.

[2018-06-25 17:23] JeffBJr56 commented on #747
After reading through the proposals all of them seem to be fine for HIVVS. The only thing that would need to be put into consideration on our end is added overhead this creates due to the refactoring of test cases for these new changes. So test case creation for new ones may slow down as a result. Besides that all of the proposed changes seem to be within the capabilities of our testing framework.

[2018-06-25 18:10] sfradkin commented on #747
I like this proposal.  Let's add stories to the backlog.

[2018-06-27 12:49] #747 closed

[2019-01-04 20:01] nathandonato opened #844 "QRDA III is successfully converted but is rejected by QPP due to invalid measurement `value` field"
### Information
- OS, Java, and Docker versions are whatever is running on the production server as of 20180103

### Expected behavior
- QRDA III file is converted and submission is accepted

### Actual behavior
- QRDA III file is indeed converted, but submission is rejected due to invalid `value` field in the JSON for CMS 156 (`measureId 238`)
- Error file from QPP: [csv_error_file copy.csv.txt](

[2019-01-09 15:41] ricochetbrown opened #848 "xml producing an Unexpected EOF read on the socket error"
### Information
- OS & version: Windows 10
- Java version: *(Run `$ java -version`.)*
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
- Docker version if using: *(Run `$ docker -v`.)*:
Docker version 18.09.0

### Expected behavior
*(Please be more descriptive than "This file should have created valid QP

[2019-01-10 19:23] nathandonato commented on #844
Hi, apologies since I know it's a busy time for all of us, but according to the [support](https://github.com/CMSgov/qpp-conversion-tool/blob/develop/.github/SUPPORT.md) document,  we expected a response to this within 2 business days. Since it's a failing submission for an actual provider, we're hoping to shed some light on this soon. Thanks for your time.

[2019-01-10 19:33] JJonesNXT commented on #844
I'm a developer representing two other EHR systems, I'm following this item because we also have several providers failing with this same nonsense error.

field 'value' in Submission.measurementSets[0].measurements[6] is invalid: --- huge wall of JSON content --- is invalid for measureId 238.

The measureId changes based on what is being submitted. Curiously, the same file passes the QPP sandbox s

[2019-01-10 19:52] omnivion commented on #848
Please attach the file which gives an error with all PII data removed.

[2019-01-10 19:58] saquino0827 commented on #844
Apologies for the late reply. We are currently looking into this as we have had issues submitted elsewhere.

[2019-01-10 20:18] omnivion commented on #844
The fix for this is now in pull request.

[2019-01-11 03:01] #844 closed

[2019-01-11 12:53] ricochetbrown commented on #848
[QRDACat3_ 20190109_MockFile.zip](https://github.com/CMSgov/qpp-conversion-tool/files/2749657/QRDACat3_.20190109_MockFile.zip)

Mock file is attached. All information in it is made up.

[2019-01-22 18:33] thomasclifford opened #860 "XML files are reported to be valid, but converter says 'Validation errors exist'."
### Information
- OS & version:  Windows 10
- Java version: *(Run `$ java -version`.)*  build 1.8.0_181-b13
- Docker version if using: *(Run `$ docker -v`.)*  n/a

### Expected behavior
Test CAT3 files (xml) are producing 'Validation errors exist', but analyst insists they have converted them
successfully. (They're not responding to emails).

### Actual behavior
20190122 131331 INFO  ProcessQPP -

[2019-01-22 18:34] thomasclifford commented on #860
My work email is thomas.clifford@mihin.org.
Thanks...

[2019-01-22 18:55] thomasclifford commented on #860
Also, I found a number of lines in each xml file (almost 950 in each one), that had an ending comment
tag ('-->') without a space after the end of the comment, like '.-->', or ''.
The file editor I use, CrimsonEditor v4.7, shows the next line or group of lines as part of the comment,
and I thought that would affect the parsing for the xml....

[2019-01-22 19:00] thomasclifford commented on #860
the line above:  like '.-->' or ''.     should read:
like '.--> or
.....(CodeSystem: ConfidentialityCode 2.16.840.1.113883.5.25 STATIC) (CONF:711246).-->

[2019-01-22 20:38] thomasclifford commented on #860
I think that I found the issue, but not sure.
The MIPS files I've been given have:

               <templateId root="2.16.840.1.113883.10.20.27.1.1" extension="2016-09-01"/>

               <templateId root="2.16.840.1.113883.10.20.27.1.2" extension="2016-11-01"/>

The valid QRDA file Converter uses for tests has:
               <templateId root="2.16.840.1.113883.10.20.27.1.1" extension="2017-06-

[2019-01-31 02:31] omnivion commented on #860
@thomasclifford any update on this?

[2019-04-16 19:35] RyanGonet opened #877 "2019 Reporting Period"
Hey there. I'm a developer for an EHR. We're updating our measures for the 2019 reporting period. Before releasing the updates, we need to confirm that our generated QRDA III files pass CMS validation.

Do you have an rough estimate on when the qpp-conversion-tool will be updated for the 2019 reporting period?

Thank you,
Ryan

[2019-04-19 04:40] sfradkin commented on #877
@RyanGonet: Updates for the 2019 reporting period will most likely not be made until later this summer.  The goal is to have changes available in a developer preview/sandbox environment by early autumn.

[2019-04-19 18:48] RyanGonet commented on #877
Thank you @sfradkin

[2019-04-19 18:48] #877 closed

[2019-10-30 14:09] #848 closed

[2019-10-30 14:10] saquino0827 commented on #860
Closed due to no update.

[2019-10-30 14:10] #860 closed

[2019-11-13 18:39] mweng1024 opened #912 "Question about CMS_22"
Hi,

We are trying to validate our QRDA III files for the 2019 reporting period using the QPP validation tool. https://github.com/CMSgov/qpp-conversion-tool
All of our files validate successfully with the exception of the files for CMS 22. Apparently the validator seems to think we have the wrong GUIDs. We have confirmed that file pass Cypress validation for the same reporting period.  The GUID we

[2019-11-14 19:54] saquino0827 commented on #912
Hi mewing1024,
CMS22v7 is currently incorrect right now. A fix has already been made and am awaiting approval before merge the fix into the conversion tool repo. I apologize for the wait.

[2019-11-19 00:32] mweng1024 commented on #912
Hi, does the fix merge into master yet? I am still seeing the same error when executed convert.sh

[2019-11-20 17:36] saquino0827 commented on #912
Hi Mweng,
The fix was in a separate repository that holds all the UUID data. I will be making a PR today to add in the changes and will be getting deployed to develop today or tomorrow. I will let you know once the the `develop` branch is updated as this should be sooner than the deployment if you are running locally.

[2019-11-20 18:25] mweng1024 commented on #912
Yes, I am running locally, please update me after  code merge to develop branch.

Thanks!
From: Samuel Aquino <notifications@github.com>
Reply-To: CMSgov/qpp-conversion-tool <reply@reply.github.com>
Date: Wednesday, November 20, 2019 at 9:36 AM
To: CMSgov/qpp-conversion-tool <qpp-conversion-tool@noreply.github.com>
Cc: Min Weng <mweng@nextgen.com>, Author <author@noreply.github.com>
Subject: Re: [

[2019-11-20 21:48] saquino0827 commented on #912
Hi Mweng,
Develop has been updated to use the correct CMS22v7 UUID's. Please run a new build and let me know If you have any more problems.

[2019-11-28 09:58] Ferozsrs opened #919 "CMS144 and CMS135 - Consolitated count getting displayed in Converted Json"
### Information

Today we validate the CMS135 and 144 with QPP tool, Files are converted to Json successfully but in the Json files, Consolidated data count getting displayed for multiple IPP measures(CMS 144 and CMS135)

Same thing we did for CMS 145(this is also multiple ipp measures), IPP1 and Ipp2 data getting displayed separately in the Json as shown in the below screenshot2.

### Expected be

[2019-12-03 17:22] bijujoseph commented on #919
Thank you @Ferozsrs for bringing this to our attention. Will respond with updates shortly. cc: @saquino0827 , @omnivion , @KyleApfel

[2019-12-03 17:25] saquino0827 commented on #919
@Ferozsrs @bijujoseph
This is expected behavior. There are a few measures that are Multi Performance rates in QRDA-III format, but are Consolidated Single Performance rates in QPP format. Please see the attached documentation here: https://confluence.cms.gov/pages/viewpage.action?spaceKey=QPPPRACTICE&title=QRDA+Conversion+from+Multiple+to+Single+Rate

[2019-12-03 17:32] Ferozsrs commented on #919
Hi Team

Thanks for response.

CMS 145 also multiple ipp measures then count getting displayed in two different section and same is not work for CMS 135  and CMS 144? And  this is also multiple ipp measures from 2019 onwards. please suggest

Also,  We don't have access to the below link.

Regards
Feroz

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Samuel Aq

[2019-12-03 17:43] saquino0827 commented on #919
Hi @Ferozsrs ,

Both CMS135 and CMS144 have this behavior. Here is some of the documentation listed here.
[code]

[2019-12-04 11:38] Ferozsrs commented on #919
Hi Team
Thank you so much for information,
It mean, New performance rate formula only applies to CMS135 and CmS144 only? but not for rest of the CQM measures right? Please Suggest

Just to information, In our CQM Report and QRDAIII file we are publising performance rate in two section, So do you thing we need to published in single performance rate regarding CMS135 and 144. or It is already taking

[2019-12-04 18:08] saquino0827 commented on #919
Hi @Ferozsrs ,
The measures that this new performance rate formula applies to are listed below:
  - CMS135/Measure id 005
  - CMS144/Measure id 008
  - CMS157/Measure id 143
  - CMS347/Measure id 438

You do not need to submit under a single performance rate as the conversion tool already handles this during conversion.

[2019-12-04 18:09] saquino0827 commented on #912
Closing due to inactivity. Feel free to open another issue if anything comes up.

[2019-12-04 18:09] #912 closed

[2019-12-05 13:48] Ferozsrs commented on #919
Thanks You So much Team for details information and closing tickets

Regards
Feroz

[2019-12-05 13:48] #919 closed

[2019-12-09 18:37] johnmahoney88 opened #924 "CMS22v7 - Measure GUID message confusion"
Hello-
Using the latest version of the Qrda3 conversion tool, finding that CMS22v7 conversions throwing errors on measure guid reference 40280382-610b-e7a4-0161-9a3a392c37d5 as error but guid appears in eCQM spec and IG.

excerpt from CMS22v7.xml
   <id root="40280382-610b-e7a4-0161-9a3a392c37d5"/>

CMS22v7 GUID from Qrda IG
https://ecqi.healthit.gov/sites/default/files/2019-CMS-QRDA-III-Eligible-

[2019-12-23 14:46] saquino0827 commented on #924
Hi @johnmahoney88
What branch of the conversion tool are you working on? Please try using the develop branch if you are not. The master branch is using last years version of the application.

[2019-12-24 07:31] srikanth1986soa opened #943 "Unable to push the code"
Hi Team,
I found the issue in the QRDAIII to Json vconversion.
I made the code change in the converter project.
I want to commit the changes. can you please give me permission

 modified:   converter/src/main/java/gov/cms/qpp/conversion/decode/ClinicalDocumentDecoder.java
        modified:   converter/src/main/resources/pathing/path-correlation.json
        modified:   converter/src/test/java/gov/

[2019-12-30 15:17] omnivion commented on #943
You just need to fork, then make a pull request from your fork. We do this as a security measure to protect our CI server.

[2019-12-30 15:17] #943 closed

[2020-01-08 23:09] saquino0827 commented on #924
Closing. Feel free to open another issue if this issue still persists.

[2020-01-08 23:09] #924 closed

[2020-02-18 16:45] jif403 opened #961 "I'm getting a Unexpected Exception Error."
### Information
-windows 10
- Java version: *1.8*

When I run
curl -X POST  "http://localhost:3000"  -H "cache-control: no-cache"  -H "content-type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW"  -F file=@.\qrda-files\valid-QRDA-III.xm
I get the following error. But it does not create any error files, so I'm not sure what is causing it.

{"errors":[{"sourceIdentifier":"testt

[2020-02-21 17:12] saquino0827 commented on #961
Hi @jif403 ,
We are currently looking into the issue and will get back to you once a solution is found.

Thank you for your patience,
Sam

[2020-02-24 16:42] saquino0827 commented on #961
Hi @jif403
The latest build on develop should fix the issues you were having. Please try again and let me know if you run into any problems.

Sam

[2020-06-30 11:25] Ferozsrs opened #972 "CQM2020 - Need QPP Tool for CQM2020"
Hi Team
Currently we are started CQM2020 development, Please suggest from where i have download the QPP tool

Regards
Feroz

[2020-06-30 11:39] Ferozsrs commented on #972
Currently i download the tool from here as mention in the screenshot, It seems that the below tool is for CQM2019, So am looking for CQM2020, please suggest and help me , from where i have to copy the QPP tool for CQM2020...Thanks in Advance.
![image](https://user-images.githubusercontent.com/44632985/86121755-36a83000-baf4-11ea-92b1-3d8642e60d98.png)

[2020-07-01 09:06] Ferozsrs commented on #972
@Team - Please confirm on this concern as we are waiting for your response.Thanks

[2020-07-01 14:45] saquino0827 commented on #972
Hi @Ferozsrs,

We currently are still mapping out the 2020 specs for the conversion tool and the 2020 version is not yet available. Feel free to download the most-to-date version from the `master` branch and the most recently developed version on `develop` branch. I predict that the 2020 work for CT won't be done until in the fall as we don't have an exact ETA until all work is tasked out.

[2020-07-01 14:46] saquino0827 commented on #961
Closing due to inactivity.

[2020-07-01 14:46] #961 closed

[2020-07-17 07:29] Ferozsrs commented on #972
Hi Team
please suggest from where we download the master branch and send us if you have any direct link to master branch.Thanks

[2020-08-24 08:55] Ferozsrs commented on #972
Hi Team
Thanks for providing the tool.

Today we download and install the qpp tool and trying to convert the internal qrdaIII file and getting the below error, So please suggest why this error is getting.

{
  "errors" : [ {
    "sourceIdentifier" : "Chambers,_Valentino_20200824072142339936355.XML",
    "details" : [ {
      "errorCode" : 5,
      "message" : "CT - The file is not a QRDA-III XML d

[2020-08-25 07:40] Ferozsrs commented on #972
Hi Team
We install the QPP Tool from the master mention in the below email and trying to convert the file and getting error which I attached.

Also, we attached the QRDAIII file for troubleshoot.
Please let me know if you have any question.

[cid:image002.png@01D67ADF.A4939780]

Regards,
Shaik Feroz
Senior Test Engineer
[cid:38FA6BAF-A4BC-42A4-896B-97118F97EB9F]
Mobile: +91-8860378057
sferoz@bhavn

[2020-08-26 06:55] Ferozsrs commented on #972
Hi Team
Did you get the chance to review my response, Please suggest

[2020-09-29 17:58] jdavis-mdi opened #1014 "Error Using /qrda-files/valid-QRDA-III-latest.xml through Docker"
### Information
- OS & version: Windows 10
- Java version: 1.8.0_201
- Docker version if using: 19.03.12

### Expected behavior
When trying to run the docker image and [Invoking the endpoint](https://github.com/CMSgov/qpp-conversion-tool#invoking-the-endpoint) using the command provided, I expect the sample file to pass.

The sample QRDA file is the one in the [example](https://github.com/CMSgov/q

[2020-09-30 14:58] jdavis-mdi commented on #1014
There must be a problem with my local machine. Ran this on another computer and it was fine. I will use that machine.

[2020-09-30 14:58] #1014 closed

[2020-10-05 21:21] mweng1024 opened #1016 "Build failed"
### Information
- OS & version: macOS Catalina
- Java version: openjdk version "1.8.0_262"
- Docker version if using: *(Run `$ docker -v`.)*

### Expected behavior
*(Please be more descriptive than "This file should have created valid QPP."
Also, if you can attach a sample QRDA3 file ***without*** Personally Identifiable Information, that will make triage easier.)*

### Actual behavior
*(Please be

[2020-12-11 21:30] saquino0827 commented on #1016
Please open another issue if the build is still failing with information on what branch you are using. Using the same command with a sample test file on the latest develop and master branches, I get valid builds back.

[2020-12-11 21:30] #1016 closed

[2021-02-16 12:48] dknapp47 opened #1055 "Docker build fails"
### Information
- OS & version: mac OS 10.14.6
- Java version: 1.8.0_73
- Docker version if using: 20.10.2, build 2291f61

### Expected behavior
"docker-compose -f ./docker-compose.test.yaml up" builds and starts the tool successfully.

### Actual behavior
Fails with this error:

ERROR: Service 'rest' failed to build : The command '/bin/sh -c mvn install -Dmaven.test.skip -Djacoco.skip=true > /dev

[2021-02-25 15:41] NickSchleicher opened #1062 "POM Version not updated for 4.3.2 release"
The tagged release for `4.3.2` is still building as `4.3.1-RELEASE`
https://github.com/CMSgov/qpp-conversion-tool/blob/v4.3.2/pom.xml#L9

[2021-02-26 23:14] saquino0827 commented on #1062
Will make a new 4.3.2 tag and re-add it. Good catch.

[2021-02-26 23:15] saquino0827 commented on #1055
@dknapp47 This was resolved a few days ago and I forgot to mention this here. Please try again and let me know if you have any more issues.

[2021-02-26 23:15] #1055 closed

[2021-03-02 17:27] saquino0827 commented on #1062
Version 4.3.3 was created and is on the correct version. Please use this version instead as there were issues in docker builds for 4.3.2

[2021-03-02 17:27] #1062 closed

[2021-05-20 14:38] kdd21 opened #1073 "Submissions for 2021 not working- says needs to comply with 2020 guidelines"
### Information
- OS & version:  Windows 10
- Docker version: Docker version 19.03.8, build afacb8b

### Expected behavior
Trying to use it with test files for 2021 and it appears to be expecting 2020, according to the error we're getting

### Actual behavior
Error message when submitting with a 2021 formatted file:
"The file is not a QRDA-III XML document. Please ensure that the submission compli

[2021-05-25 14:34] saquino0827 commented on #1073
Hi @kdd21
Conversion of 2021 QRDA-III files has not been updated yet. An ETA will most likely be around August or September before we get public releases out.

[2021-05-25 14:34] #1073 closed

[2021-06-15 11:31] Ferozsrs opened #1081 "QPP Tool(2021) - Getting error while installing qpp in our system"
Hi Team
we are getting the below error while installing qpp in our system , Please suggest what could be the issue

also, Just wanted to confirm , is QPP tool is availble for CQM 2021?
Thanks in Advance

Java version -java version "1.8.0_291"
Maven version - Apache Maven 3.8.1

C:\qpp-conversion-tool>convert.bat qrda-files/valid-QRDA-III.xml
.
"Jar not found. Building..."
.
.
[INFO] Scanning for p

[2021-06-18 05:34] Ferozsrs commented on #1081
Hi Team, anu update on above request

[2021-06-24 15:12] #1081 closed

[2021-09-02 12:57] abhisheka1993 opened #1111 "Jar not found"
![ErrorLog](https://user-images.githubusercontent.com/55098368/131847104-e36b80d6-deea-43bf-b2ce-8fda67c88af5.jpg)

Getting this error while validating QRDA file, I have already installed JDK but still giving this error. Also it seems the mentioned files are not present in qpp-conversion-tool (commandline/target/commandline.jar). Can someone please do needful here. #1110

[2021-09-06 06:39] abhisheka1993 commented on #1111
Anyone plz connect on this

[2021-09-07 18:48] saquino0827 commented on #1111
Hi @abhisheka1993,
You will need to install Apache Maven version 3.6.3 to run the build commands. Please let me know if any other issues come up.

Samuel Aquino

[2021-09-08 04:39] abhisheka1993 commented on #1111
Hi Samuel,
Thanks for replying, I have already installed Apache Maven version 3.8.2. Attached for reference. I have compared the qpp-conversion-tool with year 2020. It seems the files are present (commandline/target/commandline.jar) in the conversion tool. but in latest qpp-conversion-tool it doesn't have. Could you please let me know any update on this.

Thanks
![Mvn](https://user-images.githubus

[2021-09-08 05:28] Ferozsrs opened #1113 "QPP Tool getting failed while install"
Hi Team
while installing qpp getting the below error and it getting failed, Please suggest and attached screenshot

Z:\>cd qpp-conversion-tool-develop

Z:\qpp-conversion-tool-develop>cd qpp-conversion-tool-develop

Z:\qpp-conversion-tool-develop\qpp-conversion-tool-develop>convert.bat qrda-files/valid-QRDA-III.xml
.
"Jar not found. Building..."
.
.
[INFO] Scanning for projects...
[INFO] ----------

[2021-09-08 15:24] saquino0827 commented on #1113
Hi @Ferozsrs
Please provide your OS, Maven version and java version.

Thanks,
Samuel Aquino

[2021-09-08 15:27] saquino0827 commented on #1111
Hi @abhisheka1993 ,
Looks like you're using Java 8 but Conversion Tool was updated to Java 11. You will need to install and and run the Conversion Tool on Java 11. Let me know if there are still issues afterwards.

Samuel Aquino

[2021-09-08 16:00] Ferozsrs commented on #1113
Hi @saquino0827
Please find the details below as requested and please suggest your solution as soon as possible as it required for us to testing, we are planning release...Thanks

Edition	Windows 10 Pro
Version	20H2
Installed on	‎13-‎04-‎2021
OS build	19042.867
Serial number	5CD106L4LX
Experience	Windows Feature Experience Pack 120.2212.551.0

Java version - 1.8.0_291
Maven Version - 3.8.1

![imag

[2021-09-08 16:04] saquino0827 commented on #1113
@Ferozsrs
You will need to use the java version 11 for Conversion Tool as it was updated to Java 11 for this upcoming year.

[2021-09-09 04:48] abhisheka1993 commented on #1111
Hi Samuel,
I have installed Java 11 but still getting the issue. If possible can you please schedule a meeting so we can check it and fix it easily.
Thanks

Abhishek Avadhoot

[2021-09-09 05:11] Ferozsrs commented on #1113
Hi @saquino0827
Thanks for response, We tried to install qpp in our environment by upgrading java version to V11 but seems like the same type of issue getting. Please suggest

Z:\>c:

C:\>java -version
java version "11.0.12" 2021-07-20 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.12+8-LTS-237)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.12+8-LTS-237, mixed mode)

C:\>mvn -version
C:

[2021-09-09 05:52] abhisheka1993 commented on #1111
Also do you have any comment on error mentioned as  **Unable to access jarfile commandline/target/commandline.jar**. this path is not available in  qpp-conversion-tool

[2021-09-09 14:20] saquino0827 commented on #1111
Hi @abhisheka1993
A few questions for you before we meet:
1) What branch of conversion tool are you running from?
2) What commands are you running to get these errors and do you run them in the parent directory?
3) Can you build using `mvn clean package` in the Conversion Tools parent directory?

[2021-09-09 14:28] saquino0827 commented on #1113
@Ferozsrs It looks as if your maven is still trying to use java 1.8. Do you know if you Java Home is set to use 11?

Samuel Aquino.

[2021-09-09 14:30] saquino0827 commented on #1111
@abhisheka1993
Can you try checking `mvn -v` to see if maven is using the correct version of java?
The `Unable to access jarfile commandline/target/commandline.jar` error is from the `convert.bat` file and it picks up any error received and outputs that error.

[2021-09-09 14:55] Ferozsrs commented on #1113
Thank You so much @saquino0827
Sorry, now i set java_home to right path and Now working fine, File converted successfully but i received wraning message, please suggest regarding warning messages(as attached)

![image](https://user-images.githubusercontent.com/44632985/132709506-8da58895-903d-4274-a8dd-2d331d33f56c.png)

![image](https://user-images.githubusercontent.com/44632985/132708787-762e0ad

[2021-09-09 18:45] saquino0827 commented on #1113
@Ferozsrs That warning can be ignored for now, it is part of some code refactor work we need from upgrading from java 8 to 11. It should not effect your conversion. Feel free to open this issue or a new issue if any more problems come up.

[2021-09-09 18:45] #1113 closed

[2021-09-13 05:13] abhisheka1993 commented on #1111
Hi,
I have checked now `mvn -v` it was still showing old java version so I have made changes now able to convert file without any issues.
Thanks

[2021-09-13 13:25] saquino0827 commented on #1111
@abhisheka1993
If you have any more issues, feel free to post them here.

[2021-09-13 13:25] #1111 closed

[2021-09-15 10:47] abhisheka1993 opened #1116 "Sample Files for year 2021"
Hi,
Can we get sample files for year 2021 which will convert successfully.

[2021-09-20 21:31] GreenwayJKeller opened #1122 "UUID errors on CMS156 for 2021"
### Information
- OS & version: Windows 10
- Java version: 11.0.10
- Docker version if using: N/A

### Expected behavior
JSON file to be generated when QRDA3 file created for CMS156 is processed by QPP Conversion tool

### Actual behavior
Receiving errors on the UUID for the DENEX and the NUMER.  When I compare the UUID's given as expected for each of these in the error message to the UUIDs in the

[2021-09-22 16:55] johnmahoneyASC opened #1123 "Build of 14.5.0 throwing error on tools.jar"
### Information
- OS & version:  Windows Server 2016 DC
- Java version: 1.8.0_301
- Docker version if using: N/A

### Expected behavior
Building converter from first call of convert.bat of latest version installed on server where previous versions were working.

### Actual behavior
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total tim

[2021-09-22 17:06] saquino0827 commented on #1122
@GreenwayJKeller
We have an open PR fixing this issue. I will update this issue once it goes through.

[2021-09-22 17:07] saquino0827 commented on #1116
@abhisheka1993
What program name sample file would you need?

[2021-09-23 04:57] abhisheka1993 commented on #1116
Please ignore. I found some solutions.

[2021-09-24 14:29] #1116 closed

[2021-09-24 14:30] #1123 closed

[2021-09-24 14:31] saquino0827 commented on #1122
@GreenwayJKeller
This has been updated in develop. It will follow the release process up to master either today or early next week.

[2021-09-24 14:31] #1122 closed

[2021-09-24 15:23] GreenwayJKeller commented on #1122
Do you have an ETA on when you will have a release for 2021 that is not a Pre-Release?

[2021-10-19 12:50] johnmahoneyASC opened #1135 "Conversion error from CMS347v4"
### Information
- OS & version:  Windows Server running latest version of QPP-Converter-tool v14.5.0
- Java version: *(Run `$ java -version`.)*
- Docker version if using: *(Run `$ docker -v`.)*

### Expected behavior
Testing qpp convert on 2021 MIPS file including eCQM CMS 347v4 and expecting valid conversion

### Actual behavior
QPP convert on file including 347v4 is generating error on NUM and D

[2021-11-03 22:11] saquino0827 commented on #1135
@johnmahoneyASC just a follow up that this issue has been fixed. Feel free to open an issue if any problems still occur.

[2021-11-03 22:11] #1135 closed

[2022-01-18 19:51] fahadash opened #1187 "Error running the docker image: Keystore not found"
We are trying to build and run the docker container on Windows with Hyper-V and Linux containers enabled. The container builds fine, but when we run the final JAR we get the following error

`exec java $JAVA_OPTS -javaagent:./newrelic/newrelic.jar -jar ./rest-api.jar
[root@6a06071e28b8 run]# exec java $JAVA_OPTS -javaagent:./newrelic/newrelic.jar -jar ./rest-api.jar
Jan 18, 2022 19:45:53 +0000 [20

[2022-01-18 21:58] saquino0827 commented on #1187
Hi @fahadash,
You should be able to change the settings [here](https://github.com/CMSgov/qpp-conversion-tool/blob/develop/rest-api/src/main/resources/application.properties)
If you remove or comment out the `server.port` and `server.ssl.key-store-type` that will re-configure the application to back to http.

An additional step for using docker would be to update this file [here](https://github.com

[2022-01-19 15:55] fahadash commented on #1187
The keystore problem went away, it sounds like we now have a missing dependency.

{"timestamp":"2022-01-19 15:51:45.329","thread":"main","attachment":"","level":"INFO ","logger":"o.s.b.a.l.ConditionEvaluationReportLoggingListener","message":"\n\nError starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled."}
{"timestamp":"2022-01-19 15:51:45.331"

[2022-01-21 19:52] saquino0827 commented on #1187
Hi @fahadash
The application itself will throw an error for a missing kms key since you are using it locally and should continue to set up. What docker commands are you using?

[2022-01-26 15:16] saquino0827 commented on #1187
Closing due to inactivity. Feel free to re-open or create a new issue if this is still unresolved.

[2022-01-26 15:16] #1187 closed

[2022-04-06 05:27] pratikshav13 opened #1237 "XML file validation issue"
### Information
- OS & version: windows 10
- Java version: 11.0.12

### Expected behavior
 XML file should get validate

### Actual behavior
The measure GUID supplied is invalid
![validation_Issue](https://user-images.githubusercontent.com/103094844/161901632-dcd4a79b-b521-4c42-9c16-3adc9167e247.png)

### Steps to reproduce
1.Open Location C:\GitHub\qpp-conversion-tool\qrda-files
2.Place MIPS QPP

[2022-04-06 14:05] saquino0827 commented on #1237
Hi @pratikshav13
Please try the following file:
`qrda-files/valid-QRDA-III-latest.xml`
Some of the files are out of date and need to be cleaned up.

[2022-04-06 14:06] saquino0827 commented on #1237
@pratikshav13
I also noticed you are using a 2022 file. The conversion tool currently cannot convert PY 2022 measure id's.

[2022-04-06 14:35] #1237 closed

[2022-04-12 09:21] pratikshav13 opened #1238 "Confirmation regarding XML file validation"
### Information
- OS & version: Windows 10
- Java version: 11.0.12

### Other details
Could you please let me know when Update the latest Tool for converting XML, I want to validate it?
I want to validate XML file 2022.

[2022-04-19 18:27] saquino0827 commented on #1238
@pratikshav13 I will update this once start accepting 2022 xml files. I don't know the exact timeline but it won't be worked on until at the earliest of June/July 2022.

[2022-06-10 19:09] #1238 closed

[2022-07-11 12:15] pratikshav13 opened #1274 "Confirmation regarding XML file validation"
Information
OS & version: Windows 10
Java version: 11.0.12
Other details
Could you please let me know when Update the latest Tool for converting XML, I want to validate it?
I want to validate XML file 2022.

[2022-07-18 07:21] pratikshav13 commented on #1274
@saquino0827 Can you please share updates on this

[2022-07-29 11:08] NeetaRamani opened #1279 "QPP conversion tool 2022"
hi,

Is this tool also updated for validating 2022 QRDAIII files?

[2022-08-01 06:02] pratikshav13 commented on #1274
@saquino0827 Could you please share updates on this

[2022-08-31 18:08] aljahnke54 commented on #1279
Hello,

It is now the end of August.  Is the lastest version of the QPP Conversion Tool (18.3.0) updated for the validation of the 2022 QRDA-III files?

[2022-09-01 04:33] pratikshav13 commented on #1274
Could you please share updates on this

[2022-09-20 15:57] saquino0827 commented on #1279
Hi @aljahnke54,
The Conversion Tool is currently being updated and will not be ready for 2022 QRDA-III files until October.

[2022-09-20 15:57] #1279 closed

[2022-09-20 15:58] saquino0827 commented on #1274
@pratikshav13 The Conversion Tool will be updated for 2022 QRDA-III files around October of this year.

[2022-09-20 15:58] #1274 closed

[2022-10-13 15:57] abhisheka1993 opened #1297 "qpp update"
Hi,
By when we can expect the QPP validation tool update with 2022 changes?

[2022-10-20 04:42] abhisheka1993 commented on #1297
Any update on this?

[2022-11-02 04:21] abhisheka1993 commented on #1297
Hi,
We are waiting for QPP tool update with 2022 changes. Could you please let us know if there will be any ETA.

[2022-11-22 14:01] abhisheka1993 opened #1315 "NUMEx issue"
Hi,
It seems NumEx the new section has been introduced in QPP exported file. Could you please let us know what kind of data needs to export in this section. Do you have any same data for it.

![NumEx](https://user-images.githubusercontent.com/55098368/203333067-d0cea234-dcaf-43f6-9d44-e9320d1c4be2.png)